html {
  font-family: Arial, sans-serif;
/*  background: linear-gradient(90deg, black, #2d4d4d);
*/}
/*=============================================================*/
* {
  box-sizing: border-box;
}
/* style the container */
.container {
    position: relative;
    border-radius: 15px;
    margin: auto;
    border: #f58345 solid; background-color: #f2f2f2;
    margin-top: 50px;
    padding: 40px 0 30px 0;
    width: 80%;
} 

/* style inputs and link buttons */
input,inputtext_3,.btn {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 4px;
  margin: 5px 0;
  opacity: 0.85;
  display: inline-block;
  font-size: 17px;
  line-height: 20px;
  text-decoration: none; /* remove underline from anchors */
}

input:hover,inputtext_3:hover,.btn:hover {
  opacity: 1;
}

/* style the submit button */
.ConfirmButton{
    border: none;
    outline: none;
    height: 40px;
    background: linear-gradient(-135deg,green, lightgreen);
    color:  ;
    font-size: 18px;
    border-radius: 20px;
}

.ConfirmButton:hover {
    cursor: pointer;
    background:linear-gradient(-135deg, lightgreen,green );
    color: black;transition-duration: 2s;
}

/* style the submit button */
.CancelButton{
    border: none;
    outline: none;
    height: 40px;
    background: linear-gradient(-135deg, darkred, red);
    color:  ;
    font-size: 18px;
    border-radius: 20px;
}

.CancelButton:hover {
    cursor: pointer;
    background:linear-gradient(-135deg, red, orange);
    color: black;transition-duration: 2s;
}

/* Two-column layout */
.col {
  float: left;
  width: 50%;
  margin: auto;
  padding: 0 50px;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* vertical line */
.vl {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  border: 2px solid darkgray;
  height: 60%;
}

.avatar{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
    user-select: none;
}

.warning{
    font-size: 15px;
    color:red;
}

.footer {
  background-color: #45A29E;
  color:  ;
  text-align: center;
  font-size: 8px;
  padding:2px;
  bottom: 0;
  width:100%;
  position: fixed;
}
/* Responsive layout - when the screen is less than 650px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 650px) {
  .col {
    width: 100%;
    margin-top: 0;
  }
  /* hide the vertical line */
  .vl {
    display: none;
  }
  .footer {
    font-size: 12px;
  }
}
