header {
    text-align: center;
    padding: 10px;
    font-size: 24px;
    font-weight: bold;
    border-bottom: 2px solid #333; /* Add a line below the header */
    margin-bottom: 20px; /* Adjust margin as needed */
    
}

/* DraftCust.css */

.form-table th {
    text-align: left;
    padding-right: 10px; /* Adjust padding as needed */
}

.form-table td {
    padding-left: 10px; /* Adjust padding as needed */
}

.form-table {
    background-color :bisque;
}
