.topnav {
    overflow: hidden;
    background-color: #adadac;
    margin-top: 2px;
    padding: 0;
    max-height: 40px;
    width: 100%;
    border-radius: 5px;
}

    .topnav a {
        float: left;
        display: block;
        color: black;
        text-align: center;
        padding: 10px 15px;
        text-decoration: none;
        font-size: 17px;
        font-weight: bold;
    }

        .topnav a:hover, .DropDownList a:hover {
            background-color: #b4b4b4;
            color: black;
        }

        .topnav a.active {
            background-color: #b4b4b4;
            color: black;
        }

    .topnav .icon {
        display: none;
        padding: 5px;
    }

.top_nav_logout_properties {
    position: relative;
    text-align: center;
    display: inline-block;
}

    .top_nav_logout_properties .top_nav_logout_highlight {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
    }

    .top_nav_logout_properties:hover .top_nav_logout_highlight {
        display: inline;
    }

/*drop down list*/
.DropDown {
    float: left;
    overflow: hidden;
}

    .DropDown .DDBtn {
        background-color: #adadac;
        text-align: center;
        padding: 10px 15px;
        font-size: 17px;
        border: none;
        outline: none;
        font-weight: bold;
    }

.DropDownList {
    display: none;
    position: absolute;
    width: 152px;
    text-align: center;
    background-color: #737373;
    z-index: 1;
}

    .DropDownList a {
        float: none;
        padding: 10px 15px;
        display: block;
        text-align: left;
    }

.DropDown:hover .DropDownList {
    display: block;
}

@media screen and (max-width: 1260px) { /*1030*/
    .topnav {
        max-height: 50%;
        display: flex;
        flex-direction: column;
    }

        .topnav a:not(.active) {
            display: none;
        }

        .topnav a.active {
            display: none;
        }

        .topnav a:not(:first-child), .DropDown .DDBtn {
            display: none;
        }

        .topnav a.icon {
            /*float: right;*/
            display: block;
        }

        .topnav.responsive {
            position: relative;
        }

            .topnav.responsive .icon {
                position: absolute;
                right: 0;
                top: 0;
            }

            .topnav.responsive a {
                float: none;
                display: block;
                text-align: left;
            }

        .topnav a, .DropDownList a {
            float: left;
            display: block;
            color: black;
            text-align: center;
            padding: 15px 15px;
            text-decoration: none;
            font-size: 17px;
            font-weight: bold;
        }


        .topnav.responsive .DropDown {
            float: none;
        }

        .topnav.responsive .DropDownList {
            position: relative;
            width: 100%;
        }

        .topnav.responsive .DropDown .DDBtn {
            display: block;
            text-align: left;
            width: 100%;
        }
}

.topnav .Log_Out {
    float: right;
    padding: 10px;
}
