body {
    font-family: Tahoma, sans-serif;
}

.success_label {
    text-transform: uppercase;
    background-color: #50C878;
    color: white;
    padding: 3px 5px;
    margin: 0 5px 2px 0;
    border-radius: 3px;
    display: inline-block;
}

.exists_label {
    text-transform: uppercase;
    background-color: darkorange;
    color: white;
    padding: 3px 5px;
    margin: 0 5px 2px 0;
    border-radius: 3px;
    display: inline-block;
}

.failed_label {
    text-transform: uppercase;
    background-color: red;
    color: white;
    padding: 3px 5px;
    margin: 0 5px 2px 0;
    border-radius: 3px;
    display: block;
}
